@page "/cafelist"
@* Cafe List Page *@
@using SFA_PWA.Pages
@using SFA_PWA.Shared

<SeoHeader 
    Title="Recommended Cafes - FairiesLittleHelper" 
    Description="Browse our list of recommended cafes for your cycling rides." 
    Url="https://polite-sand-0eb4b4703.3.azurestaticapps.net/cafelist" />

<h3>Recommended Cafes</h3>
<CafeList />
