@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<iframe 
  src="https://calendar.google.com/calendar/embed?src=5nodk1v0lsg3onc8tkh58f4rh0%40group.calendar.google.com&ctz=Europe%2FLondon&mode=AGENDA" 
  style="border: 0" 
  width="400" 
  height="600" 
  frameborder="0" 
  scrolling="yes">
</iframe>

<iframe 
  src="https://calendar.google.com/calendar/embed?src=fjlrpetcofkvdeb3765skvpa9c%40group.calendar.google.com&ctz=Europe%2FLondon&mode=AGENDA" 
  style="border: 0" 
  width="400" 
  height="600" 
  frameborder="0" 
  scrolling="yes">
</iframe>

<iframe 
  src="https://calendar.google.com/calendar/embed?src=k6n6eeldcafjqir3k96htmf4n8%40group.calendar.google.com&ctz=Europe%2FLondon&mode=AGENDA" 
  style="border: 0" 
  width="400" 
  height="600" 
  frameborder="0" 
  scrolling="yes">
</iframe>
