
@page "/links"
@using Microsoft.AspNetCore.Components.Web
<PageTitle>Club Links</PageTitle>

<h1>San Fairy Ann Club Links</h1>

<h2>Upcoming Ride Routes</h2>
<p>View upcoming rides on Google Calendar:</p>
<ul>
    <li>
        <iframe src="https://calendar.google.com/calendar/embed?src=qtb3pcno4ugvndi8svv6s7s8s4%40group.calendar.google.com&ctz=Europe%2FLondon&mode=AGENDA" style="border: 0" width="400" height="600" frameborder="0" scrolling="yes"></iframe>
    </li>
    <li>
        <iframe src="https://calendar.google.com/calendar/embed?src=5nodk1v0lsg3onc8tkh58f4rh0%40group.calendar.google.com&ctz=Europe%2FLondon&mode=AGENDA" style="border: 0" width="400" height="600" frameborder="0" scrolling="yes"></iframe>
    </li>
</ul>

<h2>WhatsApp Channels</h2>
<p>Join the club WhatsApp channels:</p>
<ul>
    <li><a href="https://chat.whatsapp.com/AbCdEfGhIjK1LmN2OpQrSt" target="_blank">Main WhatsApp Channel</a></li>
    <li><a href="https://chat.whatsapp.com/<invite_code>" target="_blank">Other Channel</a></li>
</ul>

<!-- More resources will be added here in future steps -->
