@page "/weather"
@using System.Net.Http.Json
@inject HttpClient Http

<PageTitle>Weather Forecast</PageTitle>


<h1>Kent Weather Links</h1>
<p>Select a Kent location to open BBC Weather, or visit the Met Office.</p>



<h2>Major UK Weather Sites</h2>
<div class="weather-sites">

    <button class="weather-btn" onclick="window.open('https://www.metoffice.gov.uk/', '_blank')"
        aria-label="Open Met Office Weather">
        <span style="font-size:1.2em;vertical-align:middle;margin-right:0.3em;">🌤️</span> Met Office
    </button>

    <div style="margin-top:1em;">
        <label for="bbcLocation" style="font-weight:bold;">BBC Weather for:</label>
        <select id="bbcLocation" class="weather-dropdown" @bind="selectedLocation">
            @foreach (var loc in bbcLocations)
            {
                <option value="@loc.Url">@loc.Name</option>
            }
        </select>
        <button class="weather-btn" @onclick="OpenSelectedBBCWeather" style="margin-left:0.5em;">
            <span style="font-size:1.2em;vertical-align:middle;margin-right:0.3em;">☁️</span> Open BBC Weather
        </button>
    </div>
</div>




@code {



    // BBC Weather locations
    private List<BbcLocation> bbcLocations = new List<BbcLocation>
{
new BbcLocation("Maidstone", "https://www.bbc.co.uk/weather/2643179"),
new BbcLocation("Aylesford", "https://www.bbc.co.uk/weather/2656716"),
new BbcLocation("Bearsted", "https://www.bbc.co.uk/weather/2656085"),
new BbcLocation("Boxley", "https://www.bbc.co.uk/weather/2655040"),
new BbcLocation("Detling", "https://www.bbc.co.uk/weather/2651303"),
new BbcLocation("Chatham", "https://www.bbc.co.uk/weather/2653305"),
new BbcLocation("Rochester", "https://www.bbc.co.uk/weather/2639268"),
new BbcLocation("Tonbridge", "https://www.bbc.co.uk/weather/2635703"),
new BbcLocation("Sevenoaks", "https://www.bbc.co.uk/weather/2638187"),
new BbcLocation("Ashford", "https://www.bbc.co.uk/weather/2656710"),
new BbcLocation("Tunbridge Wells", "https://www.bbc.co.uk/weather/2639022"),
new BbcLocation("Tenterden", "https://www.bbc.co.uk/weather/2636101"),
new BbcLocation("Cranbrook", "https://www.bbc.co.uk/weather/2652088"),
new BbcLocation("Headcorn", "https://www.bbc.co.uk/weather/2647240"),
new BbcLocation("Lenham", "https://www.bbc.co.uk/weather/2644624"),
new BbcLocation("Staplehurst", "https://www.bbc.co.uk/weather/2637016"),
new BbcLocation("Paddock Wood", "https://www.bbc.co.uk/weather/2637016"),
new BbcLocation("Sittingbourne", "https://www.bbc.co.uk/weather/2637802")
};
    private string selectedLocation = "https://www.bbc.co.uk/weather/2643179";

    private void OpenSelectedBBCWeather()
    {
        var url = selectedLocation;
        JS.InvokeVoidAsync("window.open", url, "_blank");
    }

    public class BbcLocation
    {
        public string Name { get; set; }
        public string Url { get; set; }
        public BbcLocation(string name, string url)
        {
            Name = name;
            Url = url;
        }
    }





    [Inject]
    private IJSRuntime JS { get; set; } = default!;
}