@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span class="cycling-emojis" style="font-size:2.5rem; line-height:1; vertical-align:middle;">
                <span class="emoji-all">🚴‍🚲🚴‍♀️</span>
            </span>
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Technology Stack</a> *@
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
