<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">Fairies Little Helper</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-center" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu icon-center" aria-hidden="true"></span>
                    <span class="nav-text">Home</span>
                </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-center" href="links">
                    <span class="bi bi-people-fill icon-center" aria-hidden="true"></span>
                    <span class="nav-text">Club Links</span>
                </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-center" href="settings">
                    <span class="bi bi-sliders icon-center" aria-hidden="true"></span>
                    <span class="nav-text">Groups/Settings</span>
                </NavLink>
        </div>
        <div class="nav-item px-3">
                <NavLink class="nav-link nav-link-center" href="calendars">
                    <span class="bi bi-calendar-event icon-center" aria-hidden="true"></span>
                    <span class="nav-text">Followed Calendars</span>
                </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-center" href="cafelist">
                <span class="bi bi-cup-straw icon-center" aria-hidden="true"></span>
                <span class="nav-text">Cafe List</span>
            </NavLink>
        </div>
    <div class="nav-item px-3">
        <NavLink class="nav-link nav-link-center" href="weather">
            <span class="bi bi-cloud-sun icon-center" aria-hidden="true"></span>
            <span class="nav-text">Weather</span>
        </NavLink>
    </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-center" href="whatsapp-groups">
                <span class="bi bi-whatsapp icon-center" aria-hidden="true"></span>
                <span class="nav-text">WhatsApp Groups</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link nav-link-center" href="chatbot">
                <span class="bi bi-chat-dots-fill icon-center" aria-hidden="true"></span>
                <span class="nav-text">Club ChatBot</span>
            </NavLink>
        </div>
    </nav>
    <div class="nav-logo">
        <img src="sfa.png" alt="SFA Logo" />
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
