<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sfawebapi-c9bgawf9evfkg6dp.westeurope-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>46b97957-e55d-4da7-89ce-28a721bc7797</ProjectGuid>
    <PublishUrl>https://sfawebapi-c9bgawf9evfkg6dp.scm.westeurope-01.azurewebsites.net/</PublishUrl>
    <UserName>$SFAWebAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>